<pf-dropdown [hideArrow]="true">
    <div slot="head">
        <a class="nav-link">
            <i class="flag-icon flag-icon-tr"></i>
        </a>
    </div>
    <li class="nav-item">
        <ul class="change-lang">
        <li>
        <a href="/change-language?id=0" data-toggle="tooltip" data-placement="bottom" data-original-title="Tiếng Việt">
            <i class="flag-icon flag-icon-vn mr-2"></i>
        </a>
        </li>
        <li>
        <a href="/change-language?id=1" data-toggle="tooltip" data-placement="bottom" data-original-title="English">
            <i class="flag-icon flag-icon-vn mr-2"></i>
        </a>
        </li>
        </ul>
        <input type="hidden" id="languageId" value="1">
        </li>
    <!-- <div slot="body">
        <a href="#" class="dropdown-item active">
            <i class="flag-icon flag-icon-tr mr-2"></i>
            <span>Turkish</span>
        </a>
        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-us mr-2"></i>
            <span>English</span>
        </a>
        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-de mr-2"></i>
            <span>German</span>
        </a>
        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-fr mr-2"></i>
            <span>French</span>
        </a>
        <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-es mr-2"></i>
            <span>Spanish</span>
        </a>
    </div> -->
</pf-dropdown>
