
// STYLES FOR TABLE 
.text-color-gs {
    color: #038395 !important;
}
.title{
    font-size: x-small;
    min-width: 115px;
}
.data{
    font-size: small;
}
.text{
    font-size: x-small;

}
// END OF STYLES FOR TABLE 


// STYLES  FOR FILTER 


.wrapper .content-wrapper {
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
}
.content-wrapper {
    background-color: transparent;
}
.content-wrapper {
    height: 100%;
}
.content-wrapper {
    background-color: #f4f6f9;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* select chips */
.chk-all {
    background-color: #6c757d;
    margin-right: 10px;

}

.d-none .d-sm-block{
    padding: 30px;
}

.chk-in-progress {
    background-color: #6c757d;
    padding: 10px;
    margin-right: 10px;
}
.chk-tab {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
}
.tab-label{
padding-left: 10px;
}

.chk-rejected {
    background-color: #dc3545;
    padding: 10px;
    margin-right: 10px;
    
}
.chk-approved {
    background-color: #28a745;
    padding: 10px;
    margin-right: 10px;
}
.chk-archived {
    background-color: #00008b;
    padding: 10px;
    margin-right: 10px;
}

.button-checkbox .form-group input[type="radio"],
.button-checkbox .form-group input[type="checkbox"] {
    display: none;
}

    .button-checkbox .form-group input[type="checkbox"] + .btn-group > label,
    .button-checkbox .form-group input[type="radio"] + .btn-group > label {
        white-space: normal;
    }

        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label.btn-default,
        .button-checkbox .form-group input[type="radio"] + .btn-group > label.btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label.btn-primary,
        .button-checkbox .form-group input[type="radio"] + .btn-group > label.btn-primary {
            color: #fff;
            background-color: #428bca;
            border-color: #357ebd;
        }

        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label.btn-success,
        .button-checkbox .form-group input[type="radio"] + .btn-group > label.btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label.btn-info,
        .button-checkbox .form-group input[type="radio"] + .btn-group > label.btn-info {
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }

        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label.btn-warning,
        .button-checkbox .form-group input[type="radio"] + .btn-group > label.btn-warning {
            color: #fff;
            background-color: #f0ad4e;
            border-color: #eea236;
        }

        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label.btn-danger,
        .button-checkbox .form-group input[type="radio"] + .btn-group > label.btn-danger {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }

        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label.btn-link,
        .button-checkbox .form-group input[type="radio"] + .btn-group > label.btn-link {
            font-weight: normal;
            color: #428bca;
            border-radius: 0;
        }

        .button-checkbox .form-group input[type="radio"] + .btn-group > label span:first-child,
        .button-checkbox .form-group input[type="checkbox"] + .btn-group > label span:first-child {
            display: none;
        }

            .button-checkbox .form-group input[type="radio"] + .btn-group > label span:first-child + span,
            .button-checkbox .form-group input[type="checkbox"] + .btn-group > label span:first-child + span {
                display: inline-block;
            }

    .button-checkbox .form-group input[type="radio"]:checked + .btn-group > label span:first-child,
    .button-checkbox .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
        display: inline-block;
    }

        .button-checkbox .form-group input[type="radio"]:checked + .btn-group > label span:first-child + span,
        .button-checkbox .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child + span {
            display: none;
        }

    .button-checkbox .form-group input[type="checkbox"] + .btn-group > label span[class*="fa-"],
    .button-checkbox .form-group input[type="radio"] + .btn-group > label span[class*="fa-"] {
        width: 15px;
        float: left;
        margin: 4px 0 2px -2px;
    }

    .button-checkbox .form-group input[type="checkbox"] + .btn-group > label span.content,
    .button-checkbox .form-group input[type="radio"] + .btn-group > label span.content {
        margin-left: 10px;
    }


/*#endregion */




/*GSCare product*/
.border-10 {
    border-width: 3px !important;
    font-size: 30px
}

.rounded-customize {
    border-radius: 10px;
}



.container {
    position: relative;
    text-align: center;
    color: white;
}

.tag-status-product {
    position: absolute;
    font-family: initial;
}

.centered {
    position: absolute;
    bottom: 10px;
    left: 9px;
    background: linear-gradient(90deg,#00b9c5 52.08%,rgba(0,185,197,0) 100%);
    font-size: 15px;
    width: 90%;
    text-align: left;
}

.slide {
    width: 300px;
    height: 200px;
    background: #444;
    color: #FFF;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding: 50px;
}

.stars {
    color: yellow;
}



.product-link-notification {
    position: relative;
}
/*GSCare product category*/

.border-10 {
    border-width: 3px !important;
}

.detail-title-product {
    border-width: 3px !important;
    font-size: 20px;
}

.slide {
    width: 300px;
    height: 200px;
    background: #444;
    color: #FFF;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding: 50px;
}

.stars {
    color: yellow;
}


/*GSCare detail product*/


.title-color {
    color: #038395
}

.border-color-custom {
    border-color: #038395 !important
}

.btn-color-custom {
    background-color: #038395 !important
}

.title-card-product {
    font-size: 22px !important;
    cursor: pointer;
    color: #038395;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.avatar-product {
    cursor: pointer;
    background-color: #EEEEEE;
    text-align: left;
}

.time-apply {
    position: absolute;
    bottom: 0;
}








.text-color-gs {
    color: #038395 !important;
}


.animations-word {
    width: 100px;
    height: 100px;
    position: relative;
    animation: mymove 1s infinite;
}

.radioType-color {
    background-color: #038395;
    color: white;
}


  
  
 
  .card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    // margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
  }
 