
    <div class="col-12 md:col-6" style="padding: 10px">
        <div class="card p-fluid">
            <br>
            <div class="p-fluid p-formgrid grid">
                <div class="row">
                
                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <input pInputText id="labCode"  [(ngModel)]="labCode" autocomplete="off" />
                        <label for="labCode" class="text-color-gs">Lab Code : </label>
                        
                    </p-floatLabel>
             

                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <input pInputText id="customerName" [(ngModel)]="customerName" autocomplete="off" />
                        <label for="customerName"  class="text-color-gs">Customer name:</label>
                    </p-floatLabel>
                  
                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <p-dropdown  [options]="HospitalList" optionValue="Id" optionLabel="Name"
                            (onChange)="onChangeHospital($event)" inputId="float-label" />
                        <label for="float-label" class="text-color-gs">Location:</label>
                        <!-- <button type="reset" (click)="myForm.reset">Reset</button> -->

                    </p-floatLabel>
            <br>

                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <p-dropdown  [options]="DoctorList" optionValue="Id" optionLabel="Name"
                            (onChange)="onChangeDoctor($event)" inputId="float-label" />
                        <label for="float-label" class="text-color-gs">Referred doctor:</label>
                    </p-floatLabel>
                </div>
          


                <div class="row">

                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <p-calendar [(ngModel)]="date1" selectionMode="range" [iconDisplay]="'input'" [showIcon]="true"
                            inputId="icondisplay" />
                        <label for="username" class="text-color-gs">Sample recieved date at GS:</label>
                    </p-floatLabel>

                    <!-- <button (click)="clearInputMethod1()">Clear Input Method 1</button> -->
                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <p-calendar [(ngModel)]="date2" selectionMode="range" [iconDisplay]="'input'" [showIcon]="true"
                            inputId="icondisplay" />
                        <label for="username" class="text-color-gs">Sample draw date:</label>
                    </p-floatLabel>
                    <p></p>
                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <p-calendar [(ngModel)]="date3" selectionMode="range" [iconDisplay]="'input'" [showIcon]="true"
                            inputId="icondisplay" />
                        <label for="float-label" class="text-color-gs">Lab completion date:
                        </label>
                    </p-floatLabel>
                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <p-multiSelect [options]="testPackageList" (onChange)="onChangeTestPackage" optionValue="Id" optionLabel="Name"
                            inputId="float-label" />
                        <label for="float-label" class="text-color-gs">Test package:</label>
                    </p-floatLabel>
                 
                </div>
       
         
                <div class="row">
                    <!-- <button type="button" class="btn btn-default" (click)="resetFilters(); heroForm.reset()">New Hero</button> -->
                    <!-- <button (click)="clearInputMethod1()">Clear Input Method 1</button> -->
                    <p-floatLabel class="col-md-3 col-sm-12 col-12" style="padding:0.75rem">
                        <p-dropdown [options]="ComboList" optionLabel="Name" inputId="float-label" optionValue="Id" />
                        <label for="float-label" class="text-color-gs">Combo: </label>

                    </p-floatLabel>
                    <div class="col-md-6 col-sm-12 col-12" >
                        <div class="form-group" style="margin-right: 10px;">
                          <label class="text-color-gs">List of samples:</label>
                          <div class="button-checkbox">
                            <div class="form-group">
                              <input type="radio" name="radioXN" id="radioXN" autocomplete="off" value="-1" [(ngModel)]="selectedOption" (change)="onSelectionChange($event)" checked>
                              <div class="btn-group" style="margin-right: 10px;">
                                <label for="radioXN" class="btn btn-secondary btn-sm">
                                  <span class="fa fa-check-square fa-lg"></span>
                                  <span class="fa fa-square fa-lg"></span>
                                  <span class="content">All</span>
                                </label>
                              </div>
                      
                              <input type="radio" name="radioXN" id="radioXN-1" autocomplete="off" value="13" [(ngModel)]="selectedOption" (change)="onSelectionChange($event)">
                              <div class="btn-group" style="margin-right: 10px; ">
                                <label for="radioXN-1" class="btn btn-success btn-sm">
                                  <span class="fa fa-check-square fa-lg"></span>
                                  <span class="fa fa-square fa-lg"></span>
                                  <span class="content">Completed</span>
                                </label>
                              </div>
                      
                              <input type="radio" name="radioXN" id="radioXN-3" autocomplete="off" value="11" [(ngModel)]="selectedOption" (change)="onSelectionChange($event)">
                              <div class="btn-group" style="margin-right: 10px;">
                                <label for="radioXN-3" class="btn btn-warning btn-sm">
                                  <span class="fa fa-check-square fa-lg"></span>
                                  <span class="fa fa-square fa-lg"></span>
                                  <span class="content">Regain blood sample</span>
                                </label>
                              </div>
                      
                              <input type="radio" name="radioXN" id="radioXN-2" autocomplete="off" value="5" [(ngModel)]="selectedOption" (change)="onSelectionChange($event)">
                              <div class="btn-group" style="margin-right: 10px;">
                                <label for="radioXN-2" class="btn btn-danger btn-sm">
                                  <span class="fa fa-check-square fa-lg"></span>
                                  <span class="fa fa-square fa-lg"></span>
                                  <span class="content">Overdue</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                   
                    <!-- <mat-spinner></mat-spinner> -->

                    <div class="form-group">

                        <div class="text-center text-sm-right">
                            <!-- <p-button label="Submit" (click)="onSearch()"/> -->
                            <!-- <button pButton pRipple label="Submit" class="p-button-success">
                                z
                            </button> --><br>
                       
                            <button (click)="onSearch()" class=" btn bg-gradient-primary"
                                style="margin-right: 20px; margin-left: 20px; border-radius: 20px;">
                                <i class="fa fa-search"></i> Search

                            </button>
                            <!-- <p-button (click)="onSearch()"  label="Submit"> -->

                            <!-- </p-button> -->
                            <!-- <p-button label="Secondary" [rounded]="true" severity="secondary" /> -->
                            <button onclick="Search('export')" class="btn bg-gradient-primary"
                                style="border-radius: 20px;">
                                <i class="fa fa-file-excel"></i> Export excel
                            </button>
                   
                          
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="grid">
     
        <div class="col-12 md:col-6" style="padding: 10px;  white-space: nowrap;">
            <div class="card p-fluid" style="padding: 15px">

                <p-table #dt [value]="dataList"
                [paginator]="true"
                [rows]="9"
                 
                    [tableStyle]="{'min-width': '50rem'}">
                    
                    <ng-template pTemplate="header" >
                        <tr>

                            <th pSortableColumn="customer_name" class="title" style="width: fit-content;">
                                Customer Name
                                <p-sortIcon field="customer_name" />
                            </th>
                            <th pSortableColumn="customer_date_of_birth" class="title">
                                Date of Birth 
                                <p-sortIcon field="customer_date_of_birth" />
                                <!-- <p-sortIcon field="name" /> -->
                            </th>
                            <th pSortableColumn="hospital_name" class="title">
                                Location 
                                <p-sortIcon field="hospital_name" />
                            </th>
                            <th pSortableColumn="doctor_name" class="title">
                                Referred Doctor 
                                <p-sortIcon field="doctor_name" />
                            </th>
                            <th pSortableColumn="service_code_name" class="title">
                                Test Package 
                                <p-sortIcon field="service_code_name" />
                            </th>
                            <th pSortableColumn="sample_status" class="title">
                                Sample Status 
                                <p-sortIcon field="sample_status" />
                            </th>
                            <th pSortableColumn="combo_name" class="title">
                                Combo 
                                <p-sortIcon field="combo_name" />
                            </th>
                            <th pSortableColumn="combo_status_name" class="title">
                                Combo Status 
                                <p-sortIcon field="combo_status_name" style="size:  10px;" />
                            </th>

                            <th pSortableColumn="lab_code" class="title">
                                Lab Code 
                                <p-sortIcon field="lab_code" />
                            </th>
                                <th pSortableColumn="collect_sample_date" class="title">
                                    Sample Draw Date
                                     <p-sortIcon field="collect_sample_date" />
                                </th>
                    
                            <th pSortableColumn="date_of_result" class="title">
                                Recieved Sample Date at GS 
                                <p-sortIcon field="date_of_result" />
                            </th>
                            <th pSortableColumn="lab_final_result_date" class="title">
                                Result Return Date 
                                <p-sortIcon field="lab_final_result_date" />
                            </th>
                            <th pSortableColumn="recieved_sample_date" class="title">
                                Lab Completion Date 
                                <p-sortIcon field="recieved_sample_date" />
                            </th>
                            <th pSortableColumn="sale_rep_name" class="title">
                                Sale Rep 
                                <p-sortIcon field="sale_rep_name" />
                            </th>
                            <th pSortableColumn="sale_team_name" class="title">
                                Sale Team 
                                <p-sortIcon field="sale_team_name" />
                            </th>



                        </tr>
             
                    </ng-template>


                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td class=text>
                                <a href="javascript:void(0)"
                                    (click)="getDetails(data.CSFIdEncrypt)">{{data.customer_name ==
                                    null ? "null" : data.customer_name}}</a>
                                <!-- customer name  -->
                                <!-- {{data.customer_name}} -->
                            </td>
                            <td class=text>
                                <!-- dob -->
                                {{data.customer_date_of_birth == null ? "null" : data.customer_date_of_birth}}
                            </td>
                            <td class=text>
                                <!-- location -->
                                {{data.hospital_name}}
                                <!-- <p-sortIcon field="code" /> -->
                            </td>
                            <td class=text>
                                <!-- referred doctor -->
                                {{data.doctor_name}}
                            </td>
                            <td class=text>
                                <!-- test package  -->
                                {{data.service_code_name}}
                            </td>
                            <td class=text>
                                <!-- sample status  -->
                                <span class="sample-status badge" data-value=id_sample_status>  {{data.sample_status}}</span>
                              
                            </td>
                            <td class=text>
                                <!-- combo -->
                                {{data.combo_name}}
                            </td>
                            <td class=text>
                                <!-- combo status -->
                                {{data.combo_status_name}}
                            </td>
                            <td class=text>
                                <!-- lab code-->
                                {{data.lab_code}}
                            </td>
                            <td class=text>
                                <!-- sample draw date  -->
                                {{data.collect_sample_date}}

                            <td class=text>
                                <!-- sample result return date -->
                                {{data.date_of_result}}
                            </td>
                            <td class=text>
                                <!-- lab completion date   -->
                                {{data.lab_final_result_date}}
                            </td>
                            <td class=text>
                                <!-- sample draw date  -->
                                {{data.recieved_sample_date}}
                            </td>

                            <!-- sale rep -->
                            <td class=text>
                                {{data.sale_rep_name}}
                            </td>
                            <td class=text>
                                {{data.sale_team_name}}
                            </td>
                        </tr>
                    </ng-template>

                </p-table>


            </div>

            <div>

            </div>


        </div>
    </div>
