<header style="font-size: large;"> [Consent form: {{data.id_lcs_created}} ] - [Lab Code:{{data.lab_code}}]</header>
<p-tabView >


    <p-tabPanel header="General Information " style="color: #038395;" [leftIcon]="">
        <p-accordion [multiple]="true" [activeIndex]="[0]">
            <!-- <i class="pi pi-user" style="font-size: 2.5rem"></i> -->
            <p-accordionTab style="color: #038395;" >
                <ng-template pTemplate="header">
                    <span class="flex align-items-center gap-2 w-full">
                        <span class="pi pi-user" style="font-size: 1.5rem; color: #038395;"></span>
              
                        <span class="font-bold white-space-nowrap" style="color: #038395;">
                                 Customer Information:
                        </span>
             
                    </span>
                </ng-template>
                <p>
                
                    
                    <b>Customer Name : </b> {{data.customer_name }} <br>
                    <b>Gender:</b> {{data.customer_sex}} <br> 
                    <b>Phone Number :</b> {{data.customer_phone}} <br> 
                   <b> Date of Birth: </b>{{data.
                        customer_date_of_birth}}
                   

                </p>
                <!-- <p-table [value]="data"  class="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr style="color: blueviolet;">
                            <th>{{data.
                                customer_name
                                }}</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                           <td>{{ data.
                            customer_name
                             }}</td>
                            <td>{{ data.id_sale_team }}</td>
                            <td>{{ data.id_sale_team }}</td>
                            <td>{{ data.id_sale_team }}</td> 
                        </tr>
                    </ng-template>
                </p-table> -->
            </p-accordionTab>
            <p-accordionTab class="text-color-gs">
                <ng-template pTemplate="header">
                    <span class="flex align-items-center gap-2 w-full">
                        <span class="bi bi-geo-alt" style="font-size: 1.5rem"></span>
              
                        <span class="font-bold white-space-nowrap" style="color: #038395;">
                            Location Information
                        </span>
             
                    </span>
                </ng-template>
                <p>
                    <b>Customer Name :</b> {{data.hospital_name }} <br>
                    <b>Referred Doctor:</b> {{data.doctor_name}} <br> 
                    <b>Sale Rep :</b> {{data.sale_rep_name}} <br> 
                   <b> Date of Birth: </b>{{data.customer_date_of_birth}}<br>
                   <b> Sale Rep Email: </b> {{data.sale_rep_email}}
                   

                </p>
            </p-accordionTab>
            <!-- <p-accordionTab header="Header III" class="text-color-gs">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab> -->
        </p-accordion>
        <!-- <p>
            Lorem ipsum dolor sit amet...
        </p> -->
    </p-tabPanel>
    <p-tabPanel header="Sample list" class="header">
        <p-table [value]="data" class="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th>Test package</th>
                    <th>Sample Type</th>
                    <th>Status</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{ data.sample_list.id}}</td>
                    <td>{{ data.data.sample_list }}</td>
                    <td>{{ data.id_sale_team }}</td>
                    <td>{{ data.id_sale_team }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Results list">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-tabPanel>
</p-tabView>