.vertical-2 thead,#vertical-2 tbody{
    display:inline-block;
}
html {
    font-size: 14px;
}
.header{
    color:aqua;
}
.border{
    border: 1px solid #39819367 !important;
}
.p-datatable{
    size: auto;
.header{
    color:blueviolet;

}
.accTabHeader{
    color: #038395 !important;
}
}
.header{
    color:blueviolet;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-size: small;
  }
  
  tr:nth-child(odd) {background-color:  #36919123;}
  tr:nth-child(even) {background-color:  #36919105;}
body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.text-color-gs {
    color: #038395 !important;
}
    